<div class="jumbotron" data-pages="parallax">
  <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
    <div class="inner">
      <ul class="breadcrumb">
        <li>
          <p>Curve</p>
        </li>
        <li><a href="/#/contracts">Contracts</a></li>
        <li><a href="" class="active">Create</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- Main Container -->
<div class="container-fluid container-fixed-lg">
  <div class="row">
    <div class="col-xs-12 text-right">
      <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" ng-show="contract._id"><i class="fa fa-trash"></i>&nbsp;Delete</button>
      <button class="btn btn-complete" ng-click="save()"><i class="fa fa-check"></i> Save</button>
    </div>
  </div>
  <div class="row">
    <div class="panel panel-transparent">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs hidden-sm hidden-xs" data-init-reponsive-tabs="dropdownfx">
        <li class="active" ng-click="setTab('overview')">
          <a data-toggle="tab" aria-expanded="true"><span>Overview</span></a>
        </li>
        <li ng-click="setTab('terms')">
          <a data-toggle="tab" aria-expanded="false"><span>Terms</span></a>
        </li>
        <li ng-click="setTab('reserves')">
          <a data-toggle="tab" aria-expanded="false"><span>Reserves</span></a>
        </li>
        <li ng-click="setTab('catalogue')">
          <a data-toggle="tab" aria-expanded="false"><span>Catalogue</span></a>
        </li>
        <li ng-click="setTab('costs')">
          <a data-toggle="tab" aria-expanded="false"><span>Costs</span></a>
        </li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <div ng-show="activeTab === 'overview'">
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="panel-title">
                    Overview
                  </div>
                </div>
                <div class="panel-body p-t-15">
                  <div class="form-group required">
                    <label>Payee</label>
                    <ui-select ng-model="contract.payeeId">
                      <ui-select-match>
                        <span ng-bind="$select.selected.name"></span>
                      </ui-select-match>
                      <ui-select-choices repeat="item._id as item in (royaltors | filter: $select.search)">
                        <span ng-bind="item.name"></span>
                      </ui-select-choices>
                    </ui-select>
                  </div>
                  <div class="form-group required">
                    <label>Name</label>
                    <input type="text" class="form-control" ng-model="contract.name">
                  </div>
                  <div class="form-group required">
                    <label>Accounting Period</label>
                    <ui-select ng-model="contract.accountingPeriod">
                      <ui-select-match>
                        <span ng-bind="$select.selected"></span>
                      </ui-select-match>
                      <ui-select-choices repeat="item in (accountingPeriods | filter: $select.search)">
                        <span ng-bind="item"></span>
                      </ui-select-choices>
                    </ui-select>
                  </div>
                  <div class="form-group required">
                    <label>Contract Type</label>
                    <ui-select ng-model="contract.type">
                      <ui-select-match>
                        <span ng-bind="$select.selected"></span>
                      </ui-select-match>
                      <ui-select-choices repeat="item in (contractTypes | filter: $select.search)">
                        <span ng-bind="item"></span>
                      </ui-select-choices>
                    </ui-select>
                  </div>
                </div>
              </div>
            </div>            
            <div class="col-xs-12 col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="panel-title">
                    Payout
                  </div>
                </div>
                <div class="panel-body p-t-15">
                  <div class="form-group required">
                    <label>Min Payout</label>
                    <input type="text" class="form-control" ng-model="contract.minPayout">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div ng-show="activeTab === 'terms'">
          <div class="row">
            <div class="col-xs-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="panel-title">
                    Sales
                  </div>
                </div>
                <div class="panel-body p-t-15">
                  <contract-sales-row ng-repeat="sale in contract.salesTerms" sale="sale" territories="territories" channels="channels" configurations="configurations" priceCategories="priceCategories" salesTypes="salesTypes" delete="deleteSalesRow(sale)"></contract-sales-row>
                  <br>
                  <button class="btn btn-complete" ng-click="addSalesRow()">+ Sales</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="panel-title">
                    Returns
                  </div>
                </div>
                <div class="panel-body p-t-15">
                  <contract-sales-row ng-repeat="return in contract.returnsTerms" sale="return" territories="territories" channels="channels" configurations="configurations" priceCategories="priceCategories" salesTypes="salesTypes" delete="deleteReturnsRow(sale)"></contract-sales-row>
                  <br>
                  <button class="btn btn-complete" ng-click="addReturnsRow()">+ Returns</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="panel-title">
                    Costs
                  </div>
                </div>
                <div class="panel-body p-t-15">
                  <contract-costs-row ng-repeat="cost in contract.costsTerms" cost="cost" territories="territories" costsTypes="costsTypes" delete="deleteCostsRow(cost)"></contract-costs-row>
                  <br>
                  <button class="btn btn-complete" ng-click="addCostsRow()">+ Costs</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="panel-title">
                    Mechanicals
                  </div>
                </div>
                <div class="panel-body p-t-15">
                  <contract-mechanicals-row ng-repeat="mechanical in contract.mechanicalTerms" mechanical="mechanical" territories="territories" delete="deleteMechanicalsRow(mechanical)"></contract-mechanicals-row>
                  <br>
                  <button class="btn btn-complete" ng-click="addMechanicalsRow()">+ Mechanicals</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div ng-show="activeTab === 'reserves'">
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="panel-title">
                    Reserve Release Schedule
                  </div>
                </div>
                <div class="panel-body p-t-15">
                  <contract-reserves-row ng-repeat="reserve in contract.reserves" reserve="reserve" index="$index" delete="deleteReservesRow(reserve)"></contract-reserves-row>
                  <br>
                  <button class="btn btn-complete" ng-click="addReservesRow()">+ Reserve Period</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div ng-show="activeTab === 'catalogue'">
          <div class="row">
            <div class="col-xs-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="panel-title">
                    <div class="panel panel-transparent">
                      <!-- Nav tabs -->
                      <ul class="nav nav-tabs hidden-sm hidden-xs" data-init-reponsive-tabs="dropdownfx">
                        <li class="active" ng-click="setCatalogueTab('releases')">
                          <a data-toggle="tab" aria-expanded="true"><span>Releases</span></a>
                        </li>
                        <li ng-click="setCatalogueTab('tracks')">
                          <a data-toggle="tab" aria-expanded="false"><span>Tracks</span></a>
                        </li>
                        <li ng-click="setCatalogueTab('works')">
                          <a data-toggle="tab" aria-expanded="false"><span>Works</span></a>
                        </li>
                      </ul>
                      <div class="row" ng-show="activeCatalogueTab === 'releases'">
                        <div class="col-sm-12">
                          <div class="table-responsive">
                            <table class="table table-hover table-condensed dataTable no-footer">
                              <thead>
                                <tr>
                                  <th class="table-checkbox"><input type="checkbox" class="select-all"></th>
                                  <th>Title</th>
                                  <th>Artist</th>
                                  <th>Cat No</th>
                                  <th>Barcode</th>
                                  <th>Label</th>
                                  <th>Format</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr release-table-row ng-repeat="release in contract.releases" release="release"></tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                      <div class="row" ng-show="activeCatalogueTab === 'tracks'">
                        <div class="col-sm-12">
                          <div class="table-responsive">
                            <table class="table table-hover table-condensed dataTable no-footer">
                              <thead>
                                <tr>
                                  <th class="table-checkbox"><input type="checkbox"></th>
                                  <th>Title</th>
                                  <th>Artist</th>
                                  <th>ISRC</th>
                                  <th>P Line</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr track-table-row ng-repeat="track in contrac.tracks" track="track"></tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                      <div class="row" ng-show="activeCatalogueTab === 'works'">
                        <div class="col-sm-12">
                          <div class="table-responsive">
                            <table class="table table-hover table-condensed dataTable no-footer">
                              <thead>
                                <tr>
                                  <th class="table-checkbox"><input type="checkbox"></th>
                                  <th>Title</th>
                                  <th>Composer</th>
                                  <th>ISWC</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr work-table-row ng-repeat="work in contract.works" work="work"></tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div ng-show="activeTab === 'costs'">
          <div class="row">
            <div class="col-xs-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="panel-title">
                    Costs
                  </div>
                </div>
                <div class="panel-body">
                  <div class="table-responsive">
                    <table class="table table-hover table-condensed dataTable no-footer">
                      <thead>
                        <tr>
                          <th class="table-checkbox">
                            <input type="checkbox">
                          </th>
                          <th>Name</th>
                          <th>Amount</th>
                          <th>Type</th>
                          <th>Release</th>
                          <th>Contract</th>
                        </tr>
                      </thead>
                      <tbody>
                        <cost-table-row ng-repeat="cost in contract.costs" cost="cost"></cost-table-row>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade stick-up" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header clearfix text-left">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
        </button>
        <h5>Delete Contract</h5>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12 m-t-20">
            <p>Are you sure you want to delete this contract?  This cannot be undone.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 m-t-20 text-right">
            <button type="button" class="btn btn-default m-t-5" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-danger m-t-5" ng-click="delete()"><i class="fa fa-trash"></i>&nbsp;Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>