<div class="jumbotron" data-pages="parallax">
  <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
    <div class="inner">
      <ul class="breadcrumb">
        <li>
          <p>Curve</p>
        </li>
        <li><a href="/#/costs">Costs</a></li>
        <li><a href="" class="active">Create</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- Main Container -->
<div class="container-fluid container-fixed-lg">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-complete pull-right">Save</button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            Overview
          </div>
        </div>
        <div class="panel-body p-t-15">
          <div class="form-group required">
            <label>Name</label>
            <input type="text" class="form-control" required>
          </div>
          <div class="form-group required">
            <label>Amount</label>
            <input type="text" class="form-control" required>
          </div>
          <div class="form-group required">
            <label>Type</label>
            <select class="full-width" data-init-plugin="select2">
              <option value="WV">Type 1</option>
              <option value="WV">Type 2</option>
              <option value="WV">Type 3</option>
              <option value="WV">Type 4</option>
            </select>
          </div>
          <div class="form-group required">
            <label>Invoice No.</label>
            <input type="text" class="form-control" required>
          </div>
          <div class="form-group required">
            <label>Description</label>
            <input type="text" class="form-control" required>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            File
          </div>
        </div>
        <div class="panel-body p-t-15">
          <form role="form">
            <div class="form-group required">
              <label>Company Name</label>
              <input type="text" class="form-control">
              <button class="btn btn-default">Upload</button>
            </div>
          </form>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            Mapping
          </div>
        </div>
        <div class="panel-body">
          <form role="form">
            <div class="form-group required">
              <label>Release</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group required">
              <label>Track</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group required">
              <label>Work</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group required">
              <label>Contract</label>
              <input type="text" class="form-control">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>