/* General */
.pointer {
	cursor: pointer;
}

/* Index Pages */
.search-button:hover {
	cursor: pointer;
}

/* Pagination */
.pagination .current {
	background-color: #e8e8e8;
}


/* Tabs */
.nav-tabs li:hover {
	cursor: pointer;
}

/* Form Elements */
.ui-select-offscreen {
	display: none;
}

.ui-select-search {
	margin-left: 4px;
}

.ui-select-choices {
	margin-left: 4px;
}

.ui-select-toggle {
	margin-bottom: 0px;
}

.uib-datepicker-popup {
	padding-left: 10px;
	padding-right: 10px;
}

.uib-datepicker .btn {
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 0;
}

.row-button {
	margin-top: 25px;
}

tr .btn-sm {
	margin-bottom: 0;
}

/* Contract */
.sales-row-field-smaller {
	width: 11% !important;
}

contract-sales-row .row div {
	padding-left: 5px !important;
	padding-right: 5px !important;
}

contract-sales-row .row div .ui-select-container,
contract-sales-row .row div .ui-select-container .ui-select-match {
	padding: 0 !important;
}

contract-sales-row .row div .ui-select-container .ui-select-match span {
	margin-left: 0 !important;
}

table.dataTable thead .sorting_asc {
  background-image: url("../img/icons/sort_asc.png");
}
table.dataTable thead .sorting_desc {
  background-image: url("../img/icons/sort_desc.png");
}
table.dataTable thead .sorting {
  background-image: url("../img/icons/sort_both.png");
}
table.dataTable thead .sorting_asc_disabled {
  background-image: url("../img/icons/sort_asc_disabled.png");
}
table.dataTable thead .sorting_desc_disabled {
  background-image: url("../img/icons/sort_desc_disabled.png");
}
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  content: "";
  background-position: right center;
  background-repeat: no-repeat;
  opacity: 1;
}