<div class="row">
  <div class="form-group col-xs-3 col-md-2">
    <label>Territory</label>
    <ui-select ng-model="cost.territory">
      <ui-select-match>
        <span ng-bind="$select.selected.name"></span>
      </ui-select-match>
      <ui-select-choices repeat="item.iso2 as item in (territories | filter: $select.search)">
        <span ng-bind="item.name"></span>
      </ui-select-choices>
    </ui-select>
  </div>
  <div class="form-group col-xs-3 col-md-2 sales-row-field-smaller">
    <label>Type</label>
    <ui-select ng-model="cost.type">
      <ui-select-match>
        <span ng-bind="$select.selected"></span>
      </ui-select-match>
      <ui-select-choices repeat="item in (costsTypes | filter: $select.search)">
        <span ng-bind="item"></span>
      </ui-select-choices>
    </ui-select>
  </div>
  <div class="form-group col-xs-3 col-md-1">
    <label>Rate %</label>
    <input type="text" class="form-control" ng-model="cost.rate">
  </div>
  <div class="form-group col-xs-3 col-md-1 sales-row-field-smaller">
    <button class="btn btn-danger row-button" ng-click="delete({ cost: cost })"><i class="fa fa-trash"></i></button>
  </div>
</div>
