<div class="jumbotron" data-pages="parallax">
  <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
    <div class="inner">
      <ul class="breadcrumb">
        <li>
          <p>Curve</p>
        </li>
        <li><a href="/#/releases">Releases</a></li>
        <li ng-show="!release._id"><a href="" class="active">Create</a></li>
        <li ng-show="release._id"><a href="/#/releases/{{release._id}}" class="active">{{release.title}}</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- Main Container -->
<div class="container-fluid container-fixed-lg">
  <div class="row">
    <div class="col-xs-12 text-right">
      <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" ng-show="release._id"><i class="fa fa-trash"></i>&nbsp;Delete</button>
      <button class="btn btn-complete" ng-click="save()"><i class="fa fa-check"></i> Save</button>
    </div>
  </div>
  <div class="row">
    <div class="panel panel-transparent">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs hidden-sm hidden-xs" data-init-reponsive-tabs="dropdownfx">
        <li class="active" ng-click="setTab('overview')">
          <a data-toggle="tab" aria-expanded="true"><span>Overview</span></a>
        </li>
        <li ng-click="setTab('rights')">
          <a data-toggle="tab" aria-expanded="false"><span>Rights</span></a>
        </li>
        <li ng-click="setTab('aliases')">
          <a data-toggle="tab" aria-expanded="false"><span>Alises</span></a>
        </li>
      </ul>
      <div class="tab-content">
        <div ng-show="activeTab === 'overview'">
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="panel-title">
                    Overview
                  </div>
                </div>
                <div class="panel-body p-t-15">
                  <div class="form-group required">
                    <label>Title</label>
                    <input type="text" class="form-control" ng-model="release.title">
                  </div>
                  <div class="form-group required">
                    <label>Version</label>
                    <input type="text" class="form-control" ng-model="release.version">
                  </div>
                  <div class="form-group required">
                    <label>Artist</label>
                    <input type="text" class="form-control" ng-model="release.artist">
                  </div>
                  <div class="form-group required">
                    <label>Cat No</label>
                    <input type="text" class="form-control" ng-model="release.catNo">
                  </div>
                  <div class="form-group required">
                    <label>Barcode</label>
                    <input type="text" class="form-control" ng-model="release.barcode">
                  </div>
                  <div class="form-group required">
                    <label>Release Date</label>
                    <div id="datepicker-component" class="form-group input-group date">
                      <input type="text" class="form-control" ng-model="release.releaseDate" uib-datepicker-popup="dd/MM/yyyy" is-open="releaseDatePopup" ng-click="openReleaseDatePopup()">
                      <span class="input-group-addon" ng-click="openReleaseDatePopup()">
                        <i class="fa fa-calendar"></i>
                      </span>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="panel-title">
                    Configuration
                  </div>
                </div>
                <div class="panel-body p-t-15">
                  <div class="form-group required">
                    <label>Format</label>
                    <ui-select ng-model="release.format">
                      <ui-select-match>
                          <span ng-bind="$select.selected"></span>
                      </ui-select-match>
                      <ui-select-choices repeat="item in (formats | filter: $select.search)">
                          <span ng-bind="item"></span>
                      </ui-select-choices>
                    </ui-select>
                  </div>
                  <div class="form-group required">
                    <label>Price Category</label>
                    <ui-select ng-model="release.priceCategory">
                      <ui-select-match>
                          <span ng-bind="$select.selected"></span>
                      </ui-select-match>
                      <ui-select-choices repeat="item in (priceCategories | filter: $select.search)">
                          <span ng-bind="item"></span>
                      </ui-select-choices>
                    </ui-select>
                  </div>
                  <div class="form-group required">
                    <label>Dealer Price</label>
                    <input type="text" class="form-control" ng-model="release.dealerPrice">
                  </div>
                  <div class="form-group required">
                    <label>MCPS ID</label>
                    <input type="text" class="form-control" ng-model="release.mcpsId">
                  </div>
                  <div class="form-group">
                    <input type="checkbox" value="1" ng-model="release.exemptFromMechanicals">
                    <label>Exempt from Mechanicals</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="panel-title">
                    Tracks
                  </div>
                </div>
                <div class="panel-body">
                  <div class="table-responsive">
                    <table class="table table-hover table-condensed dataTable no-footer">
                      <button class="btn btn-danger pull-right" data-toggle="modal" data-target="#removeTracksModal"><i class="fa fa-trash"></i>&nbsp; Tracks</button>
                      <button class="btn btn-complete pull-right"  data-toggle="modal" data-target="#addTracksModal"><i class="fa fa-plus"></i>&nbsp; Tracks</button>
                      <thead>
                        <tr>
                          <th class="table-checkbox"><input type="checkbox"></th>
                          <th>Title</th>
                          <th>Artist</th>
                          <th>ISRC</th>
                          <th>P Line</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr track-table-row ng-repeat="track in release.tracks" track="track"></tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="row">
                    <div class="col-xs-12 text-center">
                      <pagination pages="trackPages" total="totalTrackPages" current="currentTrackPage" change-page="changeTrackPage(page)"></pagination>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div ng-show="activeTab === 'rights'">
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="panel-title">
                    Sales/Returns
                  </div>
                </div>
                <div class="panel-body p-t-15">
                  <contract-row ng-repeat="contract in release.salesReturnsRights" contract="contract" contracts="contracts" delete="deleteSalesReturnsRights(contract)"></contract-row>
                  <button class="btn btn-complete" ng-click="addSalesReturnsRights()">+ Contract</button>
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="panel-title">
                    Costs
                  </div>
                </div>
                <div class="panel-body p-t-15">
                  <contract-row ng-repeat="contract in release.costsRights" contract="contract" contracts="contracts" delete="deleteCostsRights(contract)"></contract-row>
                  <button class="btn btn-complete"  ng-click="addCostsRights()">+ Contract</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div ng-show="activeTab === 'aliases'">
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="panel-title">
                    Aliases
                  </div>
                </div>
                <div class="panel-body p-t-15">
                  <alias-row ng-repeat="alias in displayAliases track by $index" alias="alias" delete="deleteAlias(alias)"></alias-row>
                  <button class="btn btn-complete" ng-click="addAlias()">+ Alias</button>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade stick-up" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header clearfix text-left">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
        </button>
        <h5>Delete Release</h5>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12 m-t-20">
            <p>Are you sure you want to delete this release?  This cannot be undone.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 m-t-20 text-right">
            <button type="button" class="btn btn-default m-t-5" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-danger m-t-5" ng-click="delete()"><i class="fa fa-trash"></i>&nbsp;Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade stick-up" id="addTracksModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header clearfix text-left">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
        </button>
        <h5>Add Tracks</h5>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <form ng-submit="tracksSearch()">
              <div class="input-group transparent">
                <input type="text" class="form-control" placeholder="Search" ng-model="tracksSearchText">
                <span class="input-group-addon pointer" ng-click="tracksSearch()">
                  <i class="pg-search"></i>
                </span>
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="table-responsive">
            <table class="table table-hover table-condensed dataTable no-footer">
            <button ng-click="addTracks()" class="btn btn-complete pull-right"><i class="fa fa-plus"></i>&nbsp; Selected</button>
              <thead>
                <tr>
                  <th class="table-checkbox"><input type="checkbox"></th>
                  <th>Title</th>
                  <th>Artist</th>
                  <th>ISRC</th>
                  <th>P Line</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr track-table-row ng-repeat="track in searchTracks" track="track" no-links="true" add-icon="true" add-function="addTrack(track)"></tr>
              </tbody>
            </table>
          </div>
          <div class="row">
            <div class="col-xs-12 text-center">
              <pagination pages="trackPages" total="totalTrackPages" current="currentTrackPage" change-page="changeTrackPage(page)"></pagination>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 m-t-20 text-right">
            <button type="button" class="btn btn-complete m-t-5" data-dismiss="modal">Done</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade stick-up" id="removeTracksModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header clearfix text-left">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
        </button>
        <h5>Remove Tracks</h5>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12 m-t-20">
            <p>Are you sure you want to remove these Tracks?</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 m-t-20 text-right">
            <button type="button" class="btn btn-default m-t-5" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-danger m-t-5" ng-click="removeTracks()"><i class="fa fa-trash"></i>&nbsp;Remove</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>